.page-body{font-family: sans-serif;}
*, *::after, *::before{
    box-sizing: border-box;}
.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    top: 61px;
    height: 1250px;}
.logo-ramda{
    text-decoration: none;
    display: block;
    margin-bottom: 38px;}
.text-style-ra{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: rgb(0, 0, 0);}
.text-style-mda{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: rgb(1, 222, 252);}
.header-menu{
    width: 1280px;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;}
.main-menu-item{
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    background: #35444F;
    height: 72px;
    text-align: center;}
.main-menu-item:hover{
    background: #222F3A;}
.main-menu-item:nth-child(1){
    width: 176.5px;}
.main-menu-item:nth-child(2){
    width: 303px;}
.main-menu-item:nth-child(3){
    width: 176.5px;}
.main-menu-item:nth-child(4){
    width: 303px;}
.main-menu-item:nth-child(5){
    width: 303px;}
.main-menu-link{text-decoration: none;color: rgb(255, 255, 255);display:inline-block; margin-top: 25px;
    font-size: 24px;
    line-height: 28px;}
.left-menu{padding:0px; border: 1px solid #000000;width: 345px;height: 408px; position: absolute; }
.left-menu-item{
    list-style-type: none;
    width: 342px;
    height: 81px;
    display: inline-block;
    vertical-align: middle;}
.left-menu-item:hover{
    background: #DBDBDB;
    color: #35444F;}
.left-menu-link{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #485863;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    margin-left: 15px;
    margin-top: 25px;}
.left-menu-link:hover{margin-left: 50px;}
.right-container{
    position: absolute;
    margin-left: 395px;
    width: 885px;
    height: 529px;
    margin-top: 17px;}
.main-content{
    position: relative;}
.picture-box{
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    text-align: center;}
.picture-box>img{margin-top: 70px;
    width: 320px;
    height: 381px;}
.right-first-paragraph{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;}
.right-second-paragraph{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 54px;}
.footer-menu{
    display: inline-block;
    vertical-align: middle;
    margin-top: 900px;
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    padding-left: 40px;}
.footer-menu-item{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 25px;}
.footer-menu-link{
    display: inline-block;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-top: 25px;}
.copyright{
    margin-left: 150px;}
.footer-menu-link:hover{
    color:  #3181A6;
    text-decoration: underline;}